<div class="row justify-content-center">
  <div class="col-10">
    <app-table
      [isAction]="true"
      [headArray]="headArray"
      [gridArray]="courses"
      [useTableCards]="true"
      (onAdd)="onAdd(content)"
      (onEdit)="onEdit(content, $event)"
      (onChoose)="onChoose($event)"
    ></app-table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="container-fluid">
    <div class="row mx-1 mt-4">
      <app-form
        [signInFormSettings]="signInFormSettings"
        [formSettings]="formSettings"
        [categoriesFromSchool]="categoriesFromSchool"
        [(entity)]="course"
        (entityChange)="onSubmit(); modal.close()"
      ></app-form>
    </div>
  </div>
</ng-template>
