<figure
  class="m-4"
  [ngClass]="{ 'figure-hover': !cardDetails.showActionButton }"
  [ngStyle]="{
    '--accent': cardDetails.accentColor,
    'aspect-ratio': cardDetails.aspectRatio
  }"
  #container
>
  <img
    class="pictogram"
    [ngStyle]="{
      height: cardDetails.height + '%'
    }"
    [src]="'../../../../assets/' + cardDetails.imagePath"
    alt="Icon"
  />
  <p
    class="label"
    [ngStyle]="{
      left: cardDetails.left + '%'
    }"
    appResizeText
    [innerHTML]="cardDetails.label! | newlineToBr"
  >
  </p>
  <p
    class="info"
    appResizeText
    [innerHTML]="cardDetails.info! | newlineToBr"
  >
  </p>
  <div
    *ngIf="cardDetails.showActionButton"
    class="col-12 d-flex justify-content-center action-buttons"
  >
    <button class="btn outline mx-2" (click)="edit(cardDetails.sourceId!)">
      EDUTUJ
    </button>
    <button class="btn fill mx-2" (click)="choose(cardDetails.sourceId!)">
      ZARZĄDZAJ
    </button>
  </div>
</figure>
