<div class="container">
  <div
    class="wrap animate pop"
    [ngClass]="{ 'details-open': isDetailsVisible }"
  >
    <div class="overlay">
      <div class="banner">
        <div class="banner-image" id="banner-image">
          <img
            src="{{
              categoryService.getCategoryImagePath(
                category[HeadArray[0].FieldName]
              )
            }}"
            alt="{{ category[HeadArray[0].FieldName] }} Icon"
          />
        </div>
        <h2>
          <b>{{ HeadArray[0].Head }}</b>
        </h2>
        <h1>
          <b>{{ category[HeadArray[0].FieldName] }}</b>
        </h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-between pb-3 px-3">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn outline me-1" (click)="showDetails()">SZCZEGÓŁY</button>
      <button class="btn fill ms-1" (click)="choose(category.id)">WYBIERZ</button>
    </div>
  </div>
</div>
