<div class="container-fluid">
  <div class="row pt-3">
    <app-control-table-panel
      [isAction]="isAction"
      [(filter)]="filter"
      (onAdd)="add()"
    ></app-control-table-panel>
  </div>
  <div class="row">
    <div class="mt-2" *ngIf="useTableCards; else useTableList">
      <app-table-cards
        [filter]="filter"
        [isAction]="isAction"
        [headArray]="headArray"
        [gridArray]="gridArray"
        (onEdit)="edit($event)"
        (onChoose)="choose($event)"
      ></app-table-cards>
    </div>
    <ng-template #useTableList>
      <section class="table-container m-0 p-0 mat-elevation-z12 rounded">
        <app-table-list
          [filter]="filter"
          [isAction]="isAction"
          [headArray]="headArray"
          [gridArrayObs]="gridArrayObs"
          (onEdit)="edit($event)"
          (onDelete)="delete($event)"
        ></app-table-list>
      </section>
    </ng-template>
  </div>
</div>
