<div [formGroup]="profileForm">
  <div class="row justify-content-between">
    <div class="col-12 px-0">
      <div class="row m-0 p-0">
        <div
          class="col-12 col-md-6 ps-md-0 pe-md-2 p-0 form-group d-flex justify-content-md-start justify-content-end"
        >
          <mat-form-field>
            <mat-label>Wprowadź imię</mat-label>
            <input matInput type="text" required formControlName="name" />
            <mat-error *ngIf="name.invalid">{{
              getErrorMessage(name)
            }}</mat-error>
          </mat-form-field>
        </div>
        <div
          class="col-12 col-md-6 ps-md-2 pe-md-0 p-0 form-group d-flex justify-content-end"
        >
          <mat-form-field>
            <mat-label>Wprowadź drugie imię</mat-label>
            <input matInput type="text" formControlName="secondName" />
            <mat-error *ngIf="secondName.invalid">{{
              getErrorMessage(secondName)
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 form-group px-0">
      <mat-form-field>
        <mat-label>Wprowadź nazwisko</mat-label>
        <input matInput type="text" required formControlName="lastName" />
        <mat-error *ngIf="lastName.invalid && lastName.touched">{{
          getErrorMessage(lastName)
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 form-group px-0">
      <mat-form-field>
        <mat-label>Wprowadź datę urodzenia</mat-label>
        <input
          matInput
          required
          formControlName="dob"
          [matDatepicker]="datepicker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker> </mat-datepicker>
        <mat-error *ngIf="dob.invalid && dob.touched">{{
          getErrorMessage(dob)
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 form-group px-0">
      <mat-form-field>
        <mat-label>Wprowadź email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getErrorMessage(email)
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
