.text-style {
  color: red;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
.form-label {
  background-color: white;
  font-size: 1rem;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
