<div [formGroup]="passwordForm">
  <div class="form-group">
    <label class="ms-3 mb-1"><b>Hasło:</b></label>
    <mat-form-field>
      <mat-label>Wprowadź hasło</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        required
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{
        getErrorMessage(password)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label class="ms-3 mb-1"><b>Powtórz hasło:</b></label>
    <mat-form-field>
      <mat-label>Powtórz hasło</mat-label>
      <input
        matInput
        [type]="hideConfirmation ? 'password' : 'text'"
        required
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmation = !hideConfirmation"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmation"
      >
        <mat-icon>{{
          hideConfirmation ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
