.chip-list {
  width: 100%;
}
.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c1205077789-17.mdc-text-field--filled.mdc-text-field--no-label {
  font-size: .8rem;
  border-radius: 10rem;
  /* padding: 0.76rem 1rem; */
}
