<mat-accordion class="headers-align" multi>
  <mat-expansion-panel
    class="mat-elevation-z8"
    *ngFor="let expansionPanelDetail of expansionPanelDetails"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ expansionPanelDetail.titile }}
      </mat-panel-title>
      <mat-panel-description>
        {{ expansionPanelDetail.description }}
        {{ expansionPanelDetail.entities.length }}
        <mat-icon>{{ expansionPanelDetail.icon }}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list *ngFor="let entity of expansionPanelDetail.entities">
      <mat-list-item>
        <div class="expansion-panel-detail">
          <p>{{ entity.displayContent }}</p>
          <div class="float-end">
            <button *ngIf="entity.update"
            type="button"
            class="btn btn-td p-0 me-1"
            title="Edytuj"
            (click)="edit({id: entity.id, formType: expansionPanelDetail.formType})"
          >
            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
          </button>
          <button
            type="button"
            class="btn btn-td p-0"
            title="Usuń"
            (click)="remove({id: entity.id, formType: expansionPanelDetail.formType})"
          >
            <i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i>
          </button>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-raised-button (click)="add({formType:expansionPanelDetail.formType})">
      {{ expansionPanelDetail.buttonText }}
    </button>
  </mat-expansion-panel>
</mat-accordion>
