.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.expansion-panel-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel {
    background-color: transparent;
    
}