<div>
  <div class="form-group">
    <mat-form-field class="date-picker-form-field">
      <mat-label class="date-picker">Data</mat-label>
      <input class="date-picker" [(ngModel)]="schedule.startDate" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
        class="date-picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <div class="col-6 form-group">
      <app-time-picker [label]="'Początek'" [(date)]="schedule.startDate!"></app-time-picker>
      <mat-icon class="mx-1 mt-3">arrow_forward</mat-icon>
      <app-time-picker [label]="'Koniec'" [(date)]="schedule.endDate!"></app-time-picker>
    </div>
  </div>
</div>
