<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="time">
    <th #weekDayCell mat-header-cell *matHeaderCellDef class="time"></th>
    <td
      #timeCell
      [ngClass]="{ today: isRightNow(element.time) }"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.time }}
    </td>
  </ng-container>

  <ng-container
    *ngFor="let day of week"
    [matColumnDef]="this.getWeekDayName(day) + day.getDate()"
  >
    <th
      #weekDayCell
      mat-header-cell
      *matHeaderCellDef
      class="week-day-column"
      [ngClass]="{ today: isToday(day) }"
    >
      {{ this.getWeekDayName(day) }}
      <mat-divider></mat-divider>
      <p class="p-0 m-0">{{ day.getDate() }}</p>
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="addSession(day, element.time)"
    ></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getColumnDefinition(); sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: getColumnDefinition()"></tr>
</table>
