<form [formGroup]="signupForm">
  <div *ngIf="signInFormSettings.user">
    <h3 *ngIf="signInFormSettings.school" class="fw-semibold fs-3 text pt-3">
      Dane właściciela:
    </h3>
    <app-profile-form
      formControlName="profile"
      [submitted]="submitForm"
      [emailToCompare]="email"
    ></app-profile-form>
    <app-password-form
      formControlName="password"
      [submitted]="submitForm"
    ></app-password-form>
  </div>
  <div *ngIf="signInFormSettings.school" class="mt-3">
    <h3 *ngIf="signInFormSettings.user" class="fw-semibold fs-3 text pt-3">
      Dane szkoły:
    </h3>
    <app-school-form
      formControlName="school"
      [submitted]="submitForm"
    ></app-school-form>
  </div>
  <div *ngIf="signInFormSettings.instructor">
    <div>
      <app-search-select-form
        [valuesObs]="categories"
        [showButtons]="true"
        formControlName="categories"
      ></app-search-select-form>
    </div>
  </div>
</form>
