<div class="container-fluid mb-2">
  <div class="row scheduler-nav pt-3" #schedulerNav>
    <app-scheduler-nav></app-scheduler-nav>
    <mat-divider class="my-1"></mat-divider>
  </div>
  <div class="row">
    <section class="table-container m-0 p-0 mat-elevation-z12 rounded">
      <app-scheduler-table (onAdd)="addSchedule($event)"></app-scheduler-table>
      <ng-container *ngFor="let schedule of schedules">
        <app-schedule-placeholder
          [schedule]="schedule"
          (onEdit)="editSchedule($event)"
        ></app-schedule-placeholder>
      </ng-container>
    </section>
  </div>
</div>
