<div class="container-fluid">
  <div class="row scheduler-nav pt-3" #schedulerNav>
    <app-scheduler-nav></app-scheduler-nav>
  </div>
  <div class="row">
    <section class="table-container m-0 p-0 mat-elevation-z12 rounded">
      <app-scheduler-table (onAdd)="addSchedule(content, $event)"></app-scheduler-table>
      <ng-container *ngFor="let schedule of schedules">
        <app-schedule-placeholder
          [schedule]="schedule"
          (onEdit)="onEdit(content, $event)"
        ></app-schedule-placeholder>
      </ng-container>
    </section>
  </div>
</div>
<ng-template #content let-modal style="width: 250px;">
  <div class="container-fluid">
    <div class="row mx-1 mt-4">
      <app-schedule-form [schedule]="schedule" [edit]="edit"></app-schedule-form>
    </div>
  </div>
</ng-template>
