table {
  background-color: var(--mdc-filled-text-field-container-color);
  z-index: 1000;
}

.table-container {
  position: sticky;
  border-radius: 8px;
  border-left: 2px solid midnightblue;
  border-right: 2px solid midnightblue;
  border-bottom: 2px solid midnightblue;
}

.mat-mdc-header-cell {
  background-color: rgb(183 217 248) !important;
  position: sticky;
  z-index: 1000;
  top: 190px;
}

.time {
  width: 5.5% !important;
}

.week-day-column {
  width: 13.5% !important;
  text-align: center;
}

td.mat-column-time {
  border-radius: 0 8px 8px 0;
  text-align: center;
  background-color: rgb(183 217 248);
  font-size: large !important;
}

td:not(.mat-column-time) {
  cursor: pointer;
  border-right: 1px solid rgba(0, 0, 0, 0.055);
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  border-top: 1px solid rgba(0, 0, 0, 0.055);
  text-align: center;
}

td:not(.mat-column-time):hover {
  background-color: rgba(0, 0, 0, 0.144);
}

.today {
  background: rgb(122 182 250) !important;
}

.mat-column-time,
th {
  text-align: center;
  font-size: larger !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 500 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scheduler-nav {
  position: sticky;
  z-index: 1100;
  top: 130px;
  height: 60px;
  padding-top: 5px;
  background-color: #dddbdb;
}
