<div
  class="container-fluid d-flex justify-content-center align-items-center"
>
  <div class="row">
    <label class="label mt-3">
      <h1>
        <b><i>ZAPISZ SIĘ!</i></b>
      </h1>
    </label>
    <mat-divider></mat-divider>
    <!-- <div
      *ngFor="let menuItem of menuItems"
      class="col-12 col-lg-6 d-flex justify-content-center"
    >
      <app-card
        [cardDetails]="menuItem"
        (click)="navigate(menuItem.route!)"
      ></app-card>
    </div> -->
    <app-table
      [gridArray]="menuItems"
      [useTableCards]="true"
      [isAction]="false"
    ></app-table>
  </div>
</div>
