<form class="form" name="form" [formGroup]="form">
<div class="container-fluid pt-3">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="row">
        <label
          ><h3><b>Wybierz miasto: </b></h3></label
        >
        <mat-form-field class="example-chip-list">
          <mat-chip-grid #grid>
            <mat-chip-row
              *ngFor="let value of chosenValues"
              (removed)="remove(value)"
            >
              {{ value }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            placeholder="Wyszukaj..."
            formControlName="values"
            [matChipInputFor]="grid"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="select($event)"
          >
            <mat-option
              *ngFor="let city of dataObs | async"
              [value]="city"
            >
              {{ city }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
</form>

