.course {
  --bg: hsl(210 50% calc(90% - (var(--hover) * 10%)));
  --accent: hsl(214, 80%, 40%);
}

.lesson {
  --bg: hsl(210 50% calc(90% - (var(--hover) * 10%)));
  --accent: hsl(69, 80%, 40%);
}

figure {
  width: 35vw;
  aspect-ratio: 8 / 5;
  background: radial-gradient(
      circle at top left,
      var(--accent),
      transparent 75%
    ),
    var(--bg);
  transition: background 0.2s;
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px rgb(119, 116, 116), rgb(12, 12, 12) -3px 3px 10px,
    3px -3px 10px;
}

@media only screen and (max-width: 991px) {
  figure {
    width: 50vw;
  }
}

.pictogram {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 40%;
  transform: translateX(calc(var(--hover) * -15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}

p {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  padding-right: 2%;
  left: 65%;
  top: 20%;
  white-space: wrap;
  overflow: hidden;
  position: relative;
  width: 35%;
  transform: translateX(calc(var(--hover) * -5%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
  line-height: 1.5;
}

figure {
  --hover: 0;
}

figure:hover {
  --hover: 1;
  cursor: pointer;
}
