<table
  #myTable
  mat-table
  [dataSource]="dataSource"
  matSort
  multiTemplateDataRows
>
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef [ngClass]="column">
      <span
        *ngIf="
          column !== 'update' && column !== 'remove' && column !== 'expand'
        "
      >
        <div mat-sort-header>{{ column }}</div>
      </span>
    </th>
    <td mat-cell *matCellDef="let element" class="p-0">
      <ng-container [ngSwitch]="column">
        <div *ngSwitchCase="'update'" class="me-1 ms-2">
          <button
            type="button"
            class="btn btn-td float-end p-0"
            title="Edytuj"
            (click)="edit({ id: element.sourceId }); $event.stopPropagation()"
          >
            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
          </button>
        </div>
        <div *ngSwitchCase="'remove'">
          <button
            type="button"
            class="btn btn-td float-end p-0"
            title="Usuń"
            (click)="delete({ id: element.sourceId }); $event.stopPropagation()"
          >
            <i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i>
          </button>
        </div>
        <div *ngSwitchCase="'expand'">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedElement !== element"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedElement === element"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </div>
        <div *ngSwitchDefault class="mx-3 my-1">
          <div *ngIf="isArray(element[column]); else notArray">
            {{ element[column].join(" | ") }}
          </div>
          <ng-template #notArray>
            {{ element[column] }}
          </ng-template>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length"
    >
      <div class="row justify-content-center">
        <div
          class="element-detail col-12"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <app-carousel
            *ngIf="showCategoryCarousel"
            [categories]="
              categories.length === 0 ? element.Kategorie : categories
            "
            (onBook)="book()"
          ></app-carousel>
          <app-expansion-panel
            [expansionPanelDetails]="element.expansionPanelDetails"
            (onDelete)="delete($event)"
            (onEdit)="
              edit({
                id: $event.id,
                formType: $event.formType,
                sourceId: element.sourceId
              })
            "
            (onAdd)="
              add({ formType: $event.formType, sourceId: element.sourceId })
            "
          ></app-expansion-panel>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns"
    class="element-row mat-elevation-z8"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>
<mat-paginator
  class="paginator"
  [pageSizeOptions]="calculateVisibleRows()"
  showFirstLastButtons
>
</mat-paginator>
