.btn {
  background-color: #3192e7;
  color: #f3f1f1;
  width: 35px;
  height: 28px;
}
.btn:hover {
  background-color: rgb(70, 69, 69);
  color: #f3f1f1;
}

.paginator {
  background: #e0e0e0;
  color: black;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.header {
  background: rgba(255, 255, 255, 0);
  position: sticky;
  top: 0px;
  z-index: 1;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 8px;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 2px;
}
.mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr.detail-row {
  height: 0;
}

.element-row:hover {
  background: #cfdef5;
}

.element-row {
  position: sticky;
  top: 56px;
  background-color: #f5f5f5;
  cursor: pointer;
  z-index: 1;
}

.element-detail {
  overflow: hidden;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container-with-image {
  display: flex;
  align-items: flex-start;
}

.container-with-image img {
  margin-right: 10px;
}

.container-with-image .text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.container-with-image .text-container div {
  white-space: pre-wrap;
  word-break: break-word;
}
.update,
.remove,
.expand {
  width: 2%;
}
.Id,
.Wiek {
  width: 5%;
}
.Imię,
.Nazwisko,
.Email {
  width: 15%;
}
.Kategorie {
  width: 40%;
}
.input-group-text {
  background-color: #3192e7;
}
.form-control.search.active {
  box-shadow: none;
  border-color: #efefef00;
}

.xyz {
  position: sticky;
  top: 0; /* lub odpowiednią wartość, aby umieścić wiersz na odpowiedniej wysokości */
  background-color: white; /* opcjonalnie, aby zachować czytelność */
  z-index: 1; /* opcjonalnie, aby wiersz wyświetlał się na górze */
}