<form class="user" name="form" [formGroup]="form">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Wprowadź email</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        required
        aria-describedby="emailHelp"
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Wprowadź hasło</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        required
        aria-describedby="passwordHelp"
      />
    </mat-form-field>
  </div>
  <div
    class="ms-3 mb-0 text-style"
    *ngIf="failMessage"
    type="danger"
    (closed)="failMessage = ''"
  >
    {{ failMessage }} <i class="fa fa-exclamation" aria-hidden="true"></i>
  </div>
</form>
