
  <div class="card-body px-3">
    <div class="row">
      <div class="col-lg-6 d-none d-md-none d-lg-block">
        <div class="semipolar-spinner">
          <div class="ring"></div>
          <div class="ring"></div>

          <div class="ring">L</div>
        </div>
      </div>
      <div class="col-lg-6 py-2">
        <div class="text-center mb-3 mt-2">
          <h1 class="fw-bold text-primary">OSK Zapraszamy!</h1>
        </div>
        <p *ngIf="openPage == 'login'">
          <app-login-form (eventBack)="back($event)"></app-login-form>
        </p>
        <p *ngIf="openPage == 'register'">
          <app-sign-up-form
            [initProperForm]="initProperForm"
            (userChange)="register($event)"
          ></app-sign-up-form>
        </p>
        <div class="my-3">
          <a
            (click)="back('back')"
            class="form-control btn btn-dark el-login-border btn-block fw-bold fs-6 p-2"
          >
            <i class="fa fa-share me-2" aria-hidden="true"></i>Cofnij
          </a>
        </div>
      </div>
    </div>
  </div>

