<mat-form-field class="time-picker">
  <mat-label>{{ label }}</mat-label>
  <input
    class="time-picker-input"
    type="time"
    [(ngModel)]="time"
    matInput
  />
  <div class="d-flex align-items-center" matSuffix>
    <mat-icon
      *ngIf="time"
      aria-label="Clear"
      (click)="time = ''"
      class="time-picker-button"
      >close</mat-icon
    >
    <mat-icon
      mat-icon-button
      class="time-picker-button"
      [ngxTimepicker]="fullTime"
      [format]="24"
      [(ngModel)]="time"
      >access_time
    </mat-icon>
  </div>
</mat-form-field>
<ngx-material-timepicker
  [theme]="darkTheme"
  #fullTime
></ngx-material-timepicker>
