<form [formGroup]="form">
  <mat-form-field class="time-picker">
    <mat-label>{{ label }}</mat-label>
    <input
      class="time-picker-input"
      type="time"
      [formControl]="time"
      matInput
      #picker
    />
    <div class="d-flex align-items-center" matSuffix>
      <mat-icon
        mat-icon-button
        class="time-picker-button"
        [ngxTimepicker]="fullTime"
        [format]="24"
        [value]="time.value"
        >access_time
      </mat-icon>
    </div>
  </mat-form-field>
  <ngx-material-timepicker
    [theme]="darkTheme"
    #fullTime
    (timeSet)="writeValue($event)"
  ></ngx-material-timepicker>
</form>
