<div class="mt-2">
  <app-table
    [useTableCards]="false"
    [isAction]="true"
    [headArray]="headArray"
    [gridArray]="(instructors$ | async)!"
    (onAdd)="onAdd(content)"
    (onEdit)="onEdit(content, $event)"
    (onDelete)="onDelete($event)"
  >
  </app-table>
  <ng-template #content let-modal>
    <div class="container-fluid">
      <div class="row mx-1 mt-4">
        <app-form
          [signInFormSettings]="signInFormSettings"
          [formSettings]="formSettings"
          [(entity)]="instructor"
          (entityChange)="onSubmit(); modal.close()"
        ></app-form>
      </div>
    </div>
  </ng-template>
</div>
