<form
  class="g-3 needs-validation"
  *ngFor="let school of schools"
  [formGroup]="schoolForm"
  (ngSubmit)="onSubmit()"
>
  <div class="container-fluid">
    <div class="row justify-content-center my-4 mx-2">
      <div class="col-12">
        <div class="row">
          <div class="form-group my-3">
            <label class="ms-1">Nazwa</label>
            <input
                type="text"
                id="name"
                class="form-control form-control-user el-login-border"
                formControlName="name"
                aria-describedby="nameHelp"
              />
          </div>
        </div>
        <div class="row">
          <div class="form-group my-3">
            <label class="ms-1">Właściciel</label>
            <input
              type="text"
              class="form-control"
              id="owner"
              formControlName="owner"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group my-3">
            <label class="ms-1">Miasto</label>
            <input
              type="text"
              class="form-control"
              id="city"
              formControlName="city"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group my-3">
            <label class="ms-1">Kod pocztowy</label>
            <input
              type="text"
              class="form-control"
              id="zipCode"
              formControlName="zipCode"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group my-3">
            <label class="ms-1">Nip</label>
            <input
              type="text"
              class="form-control"
              id="nip"
              formControlName="nip"
            />
          </div>
        </div>
        <div class="form-group my-3">
          <div class="form-group my-3">
            <button
              type="submit"
              class="form-control btn btn-primary el-login-border btn-block fw-bold fs-6"
            >
              Zmień
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshSchools()"
    >
    </ngb-pagination>
  </div>
</form>


