<div [formGroup]="passwordForm">
  <div class="form-group my-3">
    <input
      type="password"
      class="form-control form-control-user el-login-border"
      id="password"
      required
      formControlName="password"
      placeholder="Hasło"
    />
    <div
      *ngIf="password.invalid && password.touched"
      class="ms-3 mb-0 text-style"
    >
      <div *ngIf="password.errors?.['required']; else minLength">
        Hasło jest wymagane <i class="fa fa-exclamation" aria-hidden="true"></i>
      </div>
      <ng-template #minLength>
        <div *ngIf="password.errors?.['minlength']">
          Minimalna długość to 6
          <i class="fa fa-exclamation" aria-hidden="true"></i>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="form-group my-3">
    <input
      type="password"
      class="form-control form-control-user el-login-border"
      id="confirmPassword"
      formControlName="confirmPassword"
      required
      placeholder="Powtórz hasło"
    />
    <div
      *ngIf="confirmPassword.invalid && confirmPassword.touched"
      class="ms-3 mb-0 text-style"
    >
      <div *ngIf="confirmPassword.errors?.['required']">
        Powtórz hasło
        <i class="fa fa-exclamation" aria-hidden="true"></i>
      </div>
      <div
        *ngIf="passwordForm.errors?.['passwordMatch'] && password.touched"
      >
        Hasła się nie zgadzają
        <i class="fa fa-exclamation" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
