<form
  class="g-3 needs-validation"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit(userForm.valid)"
>
  <div class="container-fluid">
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <div class="offcanvas-header ps-0">
          <h3 class="offcanvas-title">Twoje dane:</h3>
          <button type="button" class="btn-close" (click)="back('close')" aria-label="Close"></button>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 form-group">
            <div class="mb-3">
              <label for="nameInput" class="ms-1">Imię</label>
              <input
                type="text"
                id="name"
                class="form-control form-control-user el-login-border"
                [class.is-invalid]="name.invalid"
                formControlName="name"
                aria-describedby="nameHelp"
                placeholder="Wprowadź imię"
              />
              <div *ngIf="name.invalid" class="ms-3 mb-0 text-style">
                <div *ngIf="name.errors?.['minlength']">
                  Minimalna długość to 3
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 form-group">
            <div class="mb-3">
              <label for="passwordInput" class="ms-1">Drugie imię</label>
              <input
                type="text"
                class="form-control form-control-user el-login-border"
                [class.is-invalid]="secondName.invalid"
                id="secondName"
                formControlName="secondName"
                aria-describedby="nameHelp"
                placeholder="Wprowadź drugie imię"
              />
              <div *ngIf="secondName.invalid" class="ms-3 mb-0 text-style">
                <div *ngIf="secondName.errors?.['minlength']">
                  Minimalna długość to 3
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="passwordInput" class="ms-1">Nazwisko</label>
          <input
            type="text"
            class="form-control form-control-user el-login-border"
            [class.is-invalid]="lastName.invalid"
            id="lastName"
            formControlName="lastName"
            aria-describedby="lastNameHelp"
            placeholder="Wprowadź swoje nazwisko"
          />
          <div *ngIf="lastName.invalid" class="ms-3 mb-0 text-style">
            <div *ngIf="lastName.errors?.['minlength']">
              Minimalna długość to 3
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="form-group my-3">
          <label for="passwordInput" class="ms-1">Data urodzenia</label>
          <input
            class="form-control el-login-border"
            [class.is-invalid]="dob.invalid"
            id="dob"
            type="date"
            aria-describedby="ageHelp"
            formControlName="dob"
          />
          <div *ngIf="dob.invalid" class="ms-3 mb-0 text-style">
            <div *ngIf="dob.errors?.['valid']">
              Błędna data <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
            <div *ngIf="dob.errors?.['age']">
              Nie wystarczający wiek (14-100)
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="form-group my-3">
          <label for="passwordInput" class="ms-1">Email</label>
          <input
            type="email"
            class="form-control form-control-user el-login-border"
            [class.is-invalid]="email.invalid"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
            placeholder="Wprowadź swój email"
          />
          <div *ngIf="email.pending && email.touched">Validating...</div>
          <div *ngIf="email.invalid" class="ms-3 mb-0 text-style">
            <div *ngIf="email.errors?.['pattern']">
              Błędny email <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
            <div *ngIf="email.errors?.['uniqueEmail']">
              Email jest zajęty
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="form-group my-3">
          <label for="passwordInput" class="ms-1">Hasło</label>
          <input
            type="password"
            class="form-control form-control-user el-login-border"
            [class.is-invalid]="(password.invalid || userForm.errors?.['passwordIdentity'])"
            id="password"
            formControlName="password"
            placeholder="Hasło"
          />
          <div
            *ngIf="(password.invalid || userForm.errors?.['passwordIdentity'])"
            class="ms-3 mb-0 text-style"
          >
            <div *ngIf="password.errors?.['minlength']">
              Minimalna długość to 6
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
            <div
              *ngIf="userForm.errors?.['passwordIdentity'] && !(password.errors?.['required'] || password.errors?.['minlength'])"
            >
              Hasła się nie zgadzają
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="form-group my-3">
          <label for="passwordInput" class="ms-1">Powtórz hasło</label>
          <input
            type="password"
            class="form-control form-control-user el-login-border"
            [class.is-invalid]="(secondPassword.invalid || userForm.errors?.['passwordIdentity'])"
            id="secondPassword"
            formControlName="secondPassword"
            placeholder="Powtórz hasło"
          />
          <div
            *ngIf="
            (secondPassword.invalid || userForm.errors?.['passwordIdentity'])"
            class="ms-3 mb-0 text-style"
          >
            <div *ngIf="secondPassword.errors?.['required']">
              Powtórz hasło
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="form-group my-3">
          <div class="form-group my-3">
            <button
              type="submit"
              class="form-control btn btn-primary el-login-border btn-block fw-bold fs-6"
            >
              Zmień
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
