.stepper {
  background-color: transparent;
}

::ng-deep .mat-horizontal-stepper-header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  overflow-y: hidden;
  z-index: 1000;
  background-color: #dddbdb;
}

.spinner-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
}
