.stepper {
  background-color: transparent;
}

::ng-deep .mat-horizontal-stepper-header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 135px;
  overflow-y: hidden;
  z-index: 1000;
  background-color: #dddbdb;
}

.city-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-search label,
.city-search app-search-select-form,
.city-search mat-divider {
  width: 100%;
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
}
