<div [formGroup]="schoolForm">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Wprowadź nazwę szkoły</mat-label>
      <input matInput type="text" required formControlName="schoolName" />
      <mat-error *ngIf="schoolName.invalid">{{
        getErrorMessage(schoolName)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Wprowadź miasto</mat-label>
      <input matInput type="text" required formControlName="city" />
      <mat-error *ngIf="city.invalid">{{
        getErrorMessage(city)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Wprowadź pocztowy</mat-label>
      <input matInput type="text" required formControlName="zipCode" />
      <mat-error *ngIf="zipCode.invalid">{{
        getErrorMessage(zipCode)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Wprowadź NIP</mat-label>
      <input matInput type="text" required formControlName="nip" />
      <mat-error *ngIf="nip.invalid">{{
        getErrorMessage(nip)
      }}</mat-error>
    </mat-form-field>
  </div>
</div>
