<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 4%">#</th>
        <th *ngFor="let head of HeadArray">{{ head.Head }}</th>
        <th *ngIf="isAction" style="width: 2%"></th>
        <th *ngIf="isAction" style="width: 2%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index as i">
        <td>{{ item.ids }}</td>
        <td *ngFor="let head of HeadArray">
          <div>
            {{ item[head.FieldName] }}
          </div>
        </td>
        <td *ngIf="isAction">
          <button
            type="button"
            class="btn btn-td float-end p-0"
            title="Edytuj szkołę"
            (click)="edit(item)"
          >
            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
          </button>
        </td>
        <td *ngIf="isAction">
          <button
            type="button"
            class="btn btn-td float-end p-0"
            title="Usuń szkołę"
            (click)="delete(item)"
          >
            <i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refresh()"
    >
    </ngb-pagination>
    <div class="form-group">
      <label class="d-inline-block me-2">Ilość rekordów na stronę:</label>
      <select
        class="form-select form-select-md d-inline-block pt-1"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="refresh()"
      >
        <option [ngValue]="2">2</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="6">6</option>
        <option [ngValue]="8">8</option>
      </select>
    </div>
  </div>
</div>
