.btn {
  background-color: #3192e7;
  color: #f3f1f1;
}
.btn:hover {
  background-color: rgb(70, 69, 69);
  color: #f3f1f1;
}


table {
  max-width: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.226);
}
th {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  max-width: 80px;
}
td {
  font-size: 0.9rem;
  color: black;
  max-width: 80px;
}
.btn-td {
  width: 35px;
  height: 28px;
}
.paginator {
  background: rgba(255, 255, 255, 0);
  color: black;
}
.update,
.remove {
  width: 2%;
}
.Id {
  width: 5%;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 8px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 2px;
}
.mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr.example-detail-row {
  height: 0;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}
.expand {
  width: 2%;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container-with-image {
  display: flex;
  align-items: flex-start;
}

.container-with-image img {
  margin-right: 10px;
}

.container-with-image .text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.container-with-image .text-container div {
  white-space: pre-wrap;
  word-break: break-word;
}

