<div [formGroup]="form">
  <div *ngIf="showButtons">
    <button type="button" class="btn btn-secondary me-1 btn-sm" (click)="addAll()">Wybierz wszystkie</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="removeAll()">Usuń wszystkie</button>
  </div>
  <mat-form-field class="chip-list">
    <mat-chip-grid #grid>
      <mat-chip-row
        *ngFor="let value of chosenValues"
        (removed)="remove(value)"
      >
        {{ value }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="Wybierz..."
      formControlName="values"
      [matChipInputFor]="grid"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event.option.viewValue)">
      <mat-option *ngFor="let value of leftValues">
        {{ value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
