<!-- <app-table-list
  [isAction]="true"
  [HeadArray]="headArray"
  [GridArrayObs]="schoolObs"
  (onAdd)="onAdd(content)"
  (onEdit)="onEdit(content, $event)"
  (onDelete)="onDelete($event)"
>
</app-table-list> -->

<app-table
  [isAction]="true"
  [headArray]="headArray"
  [gridArray]="schools"
  (onAdd)="onAdd(content)"
  (onEdit)="onEdit(content, $event)"
  (onDelete)="onDelete($event)"
>
</app-table>
<ng-template #content let-modal>
  <div class="container-fluid">
    <div class="row mx-1 mt-4">
      <app-form
      [signInFormSettings]="signInFormSettings"
      [formSettings]="fromSettings"
        [(entity)]="school"
        (onSubmit)="onSubmit(); modal.close()"
      ></app-form>
    </div>
  </div>
</ng-template>
