<div class="container-fluid pt-4">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-10">
      <button
        type="button"
        class="btn btn-md btn-floating px-1"
        (click)="add(content)"
      >
        <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
        Dodaj nowy ośrodek
      </button>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-10">
      <div class="container-fluid pt-4">
        <div class="row justify-content-center mt-4">
          <div class="col-10">
            <app-table
              [isAction]="true"
              [HeadArray]="headArray"
              [GridArrayObs]="usersObs"
              (onEdit)="openEdit(content, $event)"
              (onDelete)="deleteSchool($event)"
            >
            </app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="container-fluid">
    <div class="row mx-1 mt-4">
      <app-sign-up-form
        [initProperForm]="initProperForm"
        [user]="user"
        (userBack)="onUserBack($event); modal.close()"
      ></app-sign-up-form>
    </div>
  </div>
</ng-template>
