.btn {
  background-color: #3192e7;
  color: #f3f1f1;
}
.btn:hover {
  background-color: rgb(70, 69, 69);
  color: #f3f1f1;
}
.input-group-text{
  background-color: #3192e7;
}
.form-control.search.active {
  box-shadow: none;
  border-color: #efefef00;
}
