<div class="container-fluid">
  <div class="row mx-2">
    <div class="col-12 col-xl-5">
      <app-table
        [useTableCards]="false"
        [isAction]="true"
        [headArray]="headArray"
        (onAdd)="addScheduleGroup(content)"
      >
      </app-table>
    </div>
    <div class="col-12 col-xl-7">
      <app-scheduler
        (onAdd)="addSchedule(content, $event)"
        (onEdit)="editSchedule(content, $event)"
      ></app-scheduler>
    </div>
  </div>
</div>
<ng-template #content let-modal style="width: 250px">
  <div class="container-fluid">
    <div class="row mx-1 mt-4">
      <app-form [formSettings]="formSettings" [entity]="schedule"></app-form>
    </div>
  </div>
</ng-template>
