<div class="container-fluid">
  <div class="row mx-2">
    <div class="col-12 col-xl-5">
      <app-table
        [isAction]="true"
        [useTableCards]="false"
        [headArray]="headArray"
        [gridArray]="tableScheduleGroups"
        (onAdd)="openAddForm(content, $event)"
        (onDelete)="onDeleteEntity($event.id, $event.formType!)"
        (onEdit)="onOpenEditForm(content, $event)"
      >
      </app-table>
    </div>
    <div class="col-12 col-xl-7">
      <app-scheduler
        (onAdd)="openAddScheduleForm(content, $event, undefined)"
        (onEdit)="openEditScheduleForm(content, $event)"
      ></app-scheduler>
    </div>
  </div>
</div>
<ng-template #content let-modal style="width: 250px">
  <div class="container-fluid">
    <div class="row mx-1 mt-4">
      <app-form
        [formSettings]="formSettings"
        [signInFormSettings]="signInFormSettings"
        [(entity)]="entity"
        (entityChange)="onFormSubmit(); modal.close()"
      ></app-form>
    </div>
  </div>
</ng-template>

