<div class="row mt-2">
  <div class="d-flex justify-content-md-center">
    <div class="nav flex-row nav-pills">
      <div class="card mx-2" style="width: 6rem">
        <button type="button" class="btn btn-light p-0">
          <img
            src="https://via.placeholder.com/40x40"
            class="card-img-top"
            alt="..."
          />
          Użytkownicy
        </button>
      </div>
      <div class="card m" style="width: 6rem">
        <button type="button" class="btn btn-light p-0">
          <img
            src="https://via.placeholder.com/40x40"
            class="card-img-top"
            alt="..."
          />
          Instruktorzy
        </button>
      </div>
    </div>
  </div>
</div>
