<div class="nav-content">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <app-logo></app-logo>
      </a>
      <div class="btn-group" ngbDropdown>
        <div class="input-group input-group-lg">
          <button
            type="button"
            class="btn btn-dark ps-0 pt-0"
            ngbDropdownToggle
          >
            <img
              src="../../../assets/img_avatar.png"
              alt="Avatar"
              class="avatar me-1"
            />
            {{ user?.name }}
          </button>
        </div>
        <ul
          class="dropdown-menu dropdown-menu-dark dropdown-menu-end dropdown-min-width"
          ngbDropdownMenu
        >
          <li>
            <button
              class="btn btn-drop-down"
              type="button"
              (click)="openProfile(content)"
              ngbDropdownItem
            >
              Profil
            </button>
            <button
              *ngIf="user.role === 'OSK_ADMIN'"
              class="btn btn-drop-down"
              type="button"
              (click)="openSchool(content)"
              ngbDropdownItem
            >
              Dane szkoły
            </button>
          </li>
          <li><hr class="dropdown-divider mx-2" /></li>
          <li>
            <button
              class="btn btn-drop-down"
              ngbDropdownItem
              (click)="logout()"
            >
              Wyloguj
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-menu-nav></app-menu-nav>
</div>
<div class="main-content pb-3">
  <router-outlet></router-outlet>
</div>
<ng-template #content let-offcanvas>
  <div class="container-fluid">
    <div class="row justify-content-center mt-1">
      <div class="col-12">
        <div class="offcanvas-header ps-0">
          <h3 class="fw-semibold fs-3 text pt-3">
            <div *ngIf="shouldOpenProfile == true; else school">
              Twoje dane:
            </div>
            <ng-template #school> Dane szkoły: </ng-template>
          </h3>
          <button
            type="button"
            class="btn-close"
            (click)="offcanvas.close('back')"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-content px-3">
          <app-user-profile
            *ngIf="shouldOpenProfile == true; else openSchool"
            (eventBack)="offcanvas.close($event)"
            [user]="user"
          ></app-user-profile>
          <ng-template #openSchool>
            <app-school-profile
              (eventBack)="offcanvas.close($event)"
              [school]="user.schoolRequest"
            ></app-school-profile>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>
