<div class="container-fluid">
  <app-table
  [isAction]="true"
  [headArray]="headArray"
  [gridArray]="schools"
  [useTableCards]="false"
  (onAdd)="onOpenAddForm(content)"
  (onEdit)="onOpenEditForm(content, $event)"
  (onDelete)="onDeleteEntity($event)"
>
</app-table>
</div>

<ng-template #content let-modal>
  <div class="container-fluid">
    <div class="row mx-1 mt-4">
      <app-form
      [signInFormSettings]="signInFormSettings"
      [formSettings]="fromSettings"
        [(entity)]="school"
        (onSubmit)="onFormSubmit(); modal.close()"
      ></app-form>
    </div>
  </div>
</ng-template>
